<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
    </style>
</head>

<body>
    <div class="flex-column justify-space-around">
        <header id="main-header">
            <nav>
                <h4>
                    |<a href="/">Home</a>|
                    <a href="/dashboard">Dashboard</a>|
                </h4>
            </nav>
            <h1>The Tech Blog</h1>
            <nav>
                {{#if logged_in}}
                <h4>
                    |<a href="/" id="logout">Logout</a>|
                </h4>
                {{else}}
                <h4>
                    |<a href="/login">Login</a>|
                </h4>
                {{/if}}
            </nav>
        </header>
        <main class="container container-fluid mt-5">
            {{{ body }}}
        </main>
    </div>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>