<div class="posts edit-container">
    <form class="form">
        <header class="post-title"><span class="justify-flex-start">Add A Post</span></header>
        <label for="new-title">
            <h4>Title:</h4>
        </label>
        <textarea class="edit-title" id="add-title" name="add-title" placeholder="title goes here...."></textarea>
        <label for="new-contents">
            <h4>Post:</h4>
        </label>
        <textarea class="post-content" id="add-contents" name="add-contents"
            placeholder="post text goes here...."></textarea>
        <div id="add-btn" class="center-btn" type="submit">
            <p id="gen-error">error can't loging .</p>
            <button>Create Post</button></div>
    </form>
</div>

<script src="/js/addpost.js"></script>