<div class="homepage">
{{#each posts as |post| }}
<div class="dashboard-post-container">
    <a href="/post/{{post.id}}/edit" class="dashboard-post">
        <div class="posts">
            <header class="post-title">
                {{post.title}}

            </header>
            <p class="post-content">
                {{post.content}}
            </p>
        </div>
    </a>
</div>
{{/each}}

<button class="create-new-btn" onclick="window.location.href='/add';">Add A Post</button>
</div>
