<div class="row flex-column justify-center">
    <div class="col-md-6 posts flex-column justify-center align-center">
        <h2>Login</h2>
        <a href="/signup" class="form-link">Need An Account? Register Here</a>

        <form class="form login-form">
            <div class="form-group">
                <label for="username-login">Username:</label>
                <input class="form-input" type="text" id="username-login" />
            </div>
            <div class="form-group">
                <label for="password-login">Password:</label>
                <input class="form-input" type="password" id="password-login" />
            </div>
            <div class="form-group text-center">
                <p id="bad-login">Incorrect username or password, please try again.</p>
                <button type="submit">Submit</button>
            </div>
        </form>

    </div>
</div>

<script src="./js/login.js"></script>
