:root {
  --headerbg: #2C3333;
  --bgcolor: #B5EBD0;
  --accentbg: #E7F6F2;
  --headertext: white;
}

* {
  font-family: 'Share Tech', sans-serif;
}

header>* {
  min-width: 220px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

body {
  background-color: var(--bgcolor);
}

nav>h4>a {
  margin: 0px 10px;
  color: var(--headertext);
  padding: 0 5px;
}

nav>h4 {
  color: var(--accentbg);
  user-select: none;
  font-size: 20px;
  margin-right: 5px;
}

form>h4 {
  color: var(--headerbg)
}

h1 {
  color: var(--headertext);
  user-select: none;
}

h2 {
  color: var(--headerbg)
}

h4,
h1 {
  margin: 0;
}

.post-link {
  color: var(--headertext);
  text-decoration: none;
}

.post-link:hover {
  text-decoration: underline;
  color: var(--accentbg);
}

h4>a:hover {
  color: var(--accentbg);
  transition: 0.2s;
  cursor: pointer;
}


#main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5%;
  background-color: var(--headerbg);
}

.posts {
  border: 5px var(--headerbg) solid;
  background-color: var(--accentbg);
  margin-bottom: 10px;
  margin-right: 10px;

}

.front-posts {
  width: 75%;
}

.edit-container {
  display: flex;
}

.post-title {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  background-color: var(--headerbg);
  color: var(--headertext);
  height: 45px;
  align-items: center;
}

.post-title>a {
  justify-content: space-between;
}

.posted-by {
  font-size: 15px;
  align-items: flex-end;
}

.post-content {
  margin: 5px;
  min-height: 80px;
  width: 99%;
  color: var(--headerbg)
}

.edit-title {
  margin: 5px;
  min-height: 45px;
  width: 99%;
  color: var(--headerbg)
}

.comment-input {
  width: 90%;
  height: 70px;
  resize: none;
}

#comment-content {
  height: 125px;

}

.comment-user {
  font-size: 15px;
  padding-top: 15px;
  margin-bottom: 0px;
  text-decoration: underline;
}

textarea {
  height: fit-content;
  width: fit-content;
  resize: none;
}

.dashboard-post {
  text-decoration: none;
  opacity: 0.7;
}

.dashboard-post:hover {
  text-decoration: none;
  opacity: 1;
  transition: 0.3s;
}

.dashboard-post-container {
  width: 95%;
}

.form-link {
  text-decoration: none;
  color: var(--headerbg);
}

.form-link:hover {
  text-decoration: underline;
  transition: 0.2s;
  cursor: pointer;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-btn {
  margin: 3px;
  text-align: center;

}

button {
  background-color: var(--headerbg);
  color: var(--headertext);
  border-radius: 7px 7px 7px 7px;
  font-size: 20px;
  width: 50%;
  align-self: center;
}

button:hover {
  cursor: pointer;
}

#delete-post {
  user-select: none;
  min-width: fit-content;
}

#delete-post:hover {
  cursor: pointer;
}

#bad-login {
  color: red;
  opacity: 0;
  user-select: none;
}

#gen-error {
  color: red;
  opacity: 0;
  user-select: none;
}

